.textContainer {
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: white;
  opacity: 0.8;
  padding: 16px;
}


@font-face {
  font-family: 'CustomFont';
  src: url('../src/assets/font/melloner-fun-font/MellonerFun-d1wE.ttf');
}

@media (max-width: 600px) {
  #book-a-table {
   padding: 0 !important;
  }

  .bookImage {
    padding: 0 !important;
    overflow: hidden !important;
    margin: 0 !important;
  }



  
}

@media (max-width: 959px) {
  .call-us {
    width: 80%;
    left: 10%;
    bottom: 20%;
  }
}

@media (max-width: 959px) {
  #stats-counter {
 display: none !important;
  }
}

@media (max-width: 830px) {
  .section-bg {
 display: none !important;
  }
}


@media (max-width: 1300px) {
  .galleryImages {
 transform: scale(.8);
  }
}
  

  
